@charset "utf-8";

$input-border-color: #c4c4c4;
$box-shadow: 0 2px 3px #c4c4c4, 0 0 0 1px #c4c4c4;

@import "~bulma/bulma.sass";

$primary-color: #ca6014;
$primary-background-color: #eeeeee;

body,
html {
  height: 100vh;
  background-color: $primary-background-color;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main-title {
  color: $primary-color;
  letter-spacing: 3px;
}

.search-container {
  margin-bottom: 24px;
}

.search-btn {
  // background-color: $primary-color;
}

.brewery-card {
  cursor: pointer;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: #ca601430;
  }
}

.modal-content {
  max-height: 90vh;
}

.modal-card-head {
  flex-direction: column;
  align-items: flex-start;
}

.map-marker {
  width: 50px;
  height: 50px;
  transform: translate(-50%, -100%);
}

@media only screen and (min-width: 1024px) {
  .sticky-top {
    position: sticky;
    top: 20px;
  }
}

@media only screen and (max-height: 700px) {
  .modal-content {
    margin-top: 70px;
  }
}
