@charset "utf-8";
@import "~bulma/bulma.sass";

.overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.brewery-card {
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    background-color: #9f9f9f;
  }
}

.modal-content {
  max-height: 90vh;
}

.modal-card-head {
  flex-direction: column;
  align-items: flex-start;
}

.map-marker {
  width: 50px;
  height: 50px;
  transform: translate(-50%, -100%);
}

@media only screen and (max-height: 700px) {
  .modal {
    justify-content: flex-end;
  }
}
